# CODEOWNERS file
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default owner for the entire repository
*       @quangbach27

# You can add more specific ownership rules below
# For example:
# /src/    @quangbach27
# *.swift  @quangbach27
# /docs/   @docs-team